@model List<MusicWeb.Models.BaiHat>
<head>
    <meta name="viewport" content="width=device-width, initial-scale = 1.0">
    <title>Musik</title>
    <link rel="stylesheet" href="~/Content/Site.css">
    <style>
    </style>
    <script src="https://kit.fontawesome.com/60e83084da.js" crossorigin="anonymous"></script>

</head>
<script>



</script>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th class="album-cover"></th>
            <th>Tên bài hát</th>
            <th>Tên nghệ sĩ</th>

        </tr>
    </thead>
    <tbody>

        @foreach (var song in Model)
        {
            <tr class="song-item" data-link="@Url.Content(song.linkbaihat)" data-coverimage="@Url.Content(song.Hinhbaihat)" data-name="@song.Tenbaihat" data-artist="@song.casi">
                <td class="album-cover">
                    <img class="song-image" src="@Url.Content(song.Hinhbaihat)" width="100" height="100" onclick="playSong('@Url.Content(song.linkbaihat)', '@Url.Content(song.Hinhbaihat)', '@song.Tenbaihat','@song.casi')">
                </td>
                <td>@song.Tenbaihat</td>
                <td>@song.casi</td>

            </tr>
        }



    </tbody>
</table>
