
@{
    ViewBag.Title = " UploadNhac";
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale = 1.0">
    <title>Musik</title>
    <link rel="stylesheet" href="~/Content/Site.css">
    <style>
    </style>
    <script src="https://kit.fontawesome.com/60e83084da.js" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();

            $("audio").on("play", function () {
                $("audio").not(this).each(function (index, audio) {
                    audio.pause();
                });

            });
        });
    </script>
</head>
<body>
    <div class="container py-4">
        
        
        <div class="card">
            
            <div class="card-body">
                <div class="row">
                    @using (Html.BeginForm("UploadNhac", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="form-group">
                            <label>Chọn File nhạc:</label>
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" id="fileupload" name="fileupload" class="custom-file-input" />
                                    <label class="custom-file-label"></label>
                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <label>Chọn ảnh bìa:</label>
                            <div class="input-group">
                                <div class="custom-file">
                                    <input type="file" id="pictureupload" name="pictureupload" class="custom-file-input" />
                                    <label class="custom-file-label"></label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Nghệ sĩ:</label>
                            <input type="text" id="artist" name="artist" class="form-control" />
                        </div>
                        <div class="form-group text-right">
                            <input type="submit" id="btnUpload" class="btn btn-secondary btn-lg" value="Upload" />
                        </div>
                    }
                </div>



                <table id="dataTable" class="table table-bordered table-striped">
                    <thead>
                        <tr>

                            <th class="album-cover">Ảnh bìa</th>
                            <th>Tên bài hát</th>
                            <th>Tên nghệ sĩ</th>
                            <th>Phát nhạc</th>
                            <th>Xóa</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td class="album-cover">
                                    <img src="@Url.Content(@item.Hinhbaihat)" width="100" height="100">
                                </td>
                                <td>@item.Tenbaihat</td>
                                <td>@item.casi</td>

                                <td>
                                    <audio controls>
                                        <source src="@Url.Content(@item.linkbaihat)" type="audio/ogg">
                                    </audio>
                                </td>
                                <td>
                                    @using (Html.BeginForm("DeleteAudio", "Home", new { id = item.idbaihat }, FormMethod.Post))
                                    {
                                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this audio file?')"><i class="fa fa-trash"></i></button>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <style>
                    /* Album cover column */
                    .album-cover {
                        width: 200px;
                    }
                </style>

            </div>
        </div>
    </div>
</body>
</html>  